<input type="text" [(ngModel)]="name">
<p>{{name}}</p>
<hr>
<div class="container">
    <app-success-alert></app-success-alert>
    <app-warning-alert></app-warning-alert>
</div>

<div class="container">
<div class = "row">
    <div class="col-xs-12">
    <label>Assignment 2 - BINDINGS</label>

    <input type="text" [(ngModel)] = "username" class="form-control">
    
    <p>Username : {{username}}</p>
    <button class="btn btn-primary" (click) = "updateUsername()" [disabled]="username === ''"> Reset</button>
    
    <!-- OR (click) = "username= ''" -->
</div>
</div>
</div>

<div>

    <app-directive-practice></app-directive-practice>
</div>

